body {
    padding-top: 100px;
    background:url('/static/images/saintpetersburg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -o-background-size: cover;
}

section (
    margin-bottom: 250px;
)

.card {
    background-color: rgba(255,255,255, 0.6);
}