<!Doctype html>
{% load static %}
<html lang="ko">
    
<head>

 <meta charset="UTF-8">
 <title>{% block head_title %}doubleJ{% endblock %}</title>
  <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
 <!-- Custom styles for this template -->
 <link rel="stylesheet" href="{% static 'css/blog-post.css' %}" media="screen">
 <!---./custom--->
 <script src="https://kit.fontawesome.com/4aec5a2ee3.js" crossorigin="anonymous"></script>

</head>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
 <div class="container">
  <a class="navbar-brand" href="..">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../about_me">About_doubleJ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">BLOG</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown Link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
      </li>
    </ul>
  </div>
 </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-dolly-flatbed"></i>&nbsp Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div CLASS="row">
        <div class="col-md-6">
         <button type="button" class="btn btn-outline-primary btn-block btn-sm"><i class="fab fa-google"></i>&nbsp Log In with Google</button>
         <button type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="fas fa-envelope"></i>&nbsp Log In with E-mail</button>
        </div>
        <div class="col-md-6">
         <button type="button" class="btn btn-outline-success btn-block btn-sm"><i class="far fa-envelope"></i>&nbsp Sign Up with E-mail</button>
        </div>  
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
<!---Page Content--->
<div class="container my-3">

 <div class="row">
  
  <!---Blog Entries Column--->
  <div class="col-md-8 col-lrg-9" id="main-area">
   
   {% block main_area %}
   {% endblock %} 

  </div>


  <div class="col-mid-3 col-lrg-2">
    <!-- Search Widget -->
    <div class="card my-4">
     <h5 class="card-header">Search</h5>
     <div class="card-body">
      <div class="input-group">
       <input type="text" class="form-control" placeholder="Search for...">
       <span class="input-group-append">
        <button class="btn btn-secondary" type="button">Go!</button>
       </span>
      </div>
     </div>
    </div>
     
     
     <!-- Categories Widget -->
    <div class="card my-2">
     <h5 class="card-header">Categories</h5>
     <div class="card-body">
      <div class="row">
       <div class="col-lg-5">
        <ul class="list-unstyled mb-0">
         <li>
          <a href="#">Web Design</a>
         </li>
         <li>
          <a href="#">HTML</a>
         </li>
         <li>
          <a href="#">Freebies</a>
         </li>
        </ul>
       </div>
       <div class="col-md-5">
        <ul class="list-unstyled mb-0">
         <li>
          <a href="#">JavaScript</a>
         </li>
         <li>
          <a href="#">CSS</a>
         </li>
         <li>
          <a href="#">Tutorials</a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>  
       
    
  </div>
     
     
 </div>
 <!---/.row--->
 
</div>
<!---/.Container--->

<!-- Footer -->
<footer class="py-5 bg-dark">
 <div class="container">
  <p class="m-0 text-center text-white">Copyright &copy; doubleJPARK</p>
 </div>
</footer>

<!---Bootstrap core Javascript--->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>    
    

</body>

</html>