<!Doctype html>
{% load static %}
<html lang="ko">
<head>
 <meta charset="UTF-8">
 <title>doubleJ</title>
 <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
</head>
    
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container">
  <a class="navbar-brand" href="..">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="about_me">About_doubleJ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog">BLOG</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown Link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
 </div>
</nav>
 
<div class="container">
 <h1>BLOG</h1>
        
{% for p in post_list %}
<!---Blog Post--->
 <div class="card mb-4">
  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
   <div class="card-body">
    <h2 class="card-title">{{ p.title }}</h2>
    <p class="card-text">{{ p.content }}</p>
    <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &arr;</a>
   </div>
   <div class="card-footer text-muted">
    Posted on {{ p.created_at }} by
    <a href="#">작성자명 쓸 위치</a>
   </div>
  </div>
{% endfor %}    

</div>
</body>
</html>